
<body>
<strong><%=current_user.email%></strong>

<div class="background-image-home">
 <div class="box">
   <div>


      <h1 class= "home_text">LEVEL</h1>


     <h1 class= "home_text"><%= link_to "Subscribe", videogames_path %></h1>


  
  </div>
</div>
<body>