<h1>LEVEL</h1>
<h2>GET ON OUR LEVEL</h2>



<button type="button"><%= link_to "Sign up", new_registration_path(resource_name) %></button> 

<button type="button"><%= link_to "Log in", new_registration_path(resource_name) %></button> 





<button type="button"><%= link_to "SIGN UP NOW", new_registration_path(resource_name) %></button> 
