

<div class="background-image-index">
  <div class="index-navbar">
  <button class="button"><%= link_to "Log in", new_registration_path(resource_name) %></button> 
  <button class="button"><%= link_to "Sign up", new_registration_path(resource_name) %></button> 
  </div>
    <div class="box">
  <div>
      <h1>Level</h1>
    <h3>Subsribe today and start sharing.

    With Level's unique game sharing model, you get unlimited access to a huge amount of games for a low monthly cost.   </h3>

    <h2>Level - Get on our level </h2>

    
    <button class="button"><%= link_to "SIGN UP NOW", new_registration_path(resource_name) %></button>
  </div>
</div>

