<div class="background-image-index">
  <div class="index-navbar">
  <button class="button"><%= link_to "Log in", new_registration_path(resource_name) %></button> 
  <button class="button"><%= link_to "Sign up", new_registration_path(resource_name) %></button> 
  </div>
    <div class="box">
  <div>
      <h2>Level</h2>
    <h2>Get on our level </h2>
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum ex at nulla vulputate, vel consequat ante fringilla. Nulla facilisi. Integer at urna et mauris feugiat scelerisque consectetur bibendum ex. Cras eget suscipit quam. In hac habitasse platea dictumst. Curabitur eget urna sit amet turpis sodales elementum. Nunc eu laoreet eros. Nunc sagittis lobortis tellus, id consectetur diam placerat at. Phasellus aliquam ut mauris ac aliquam. In consequat ipsum non tellus lacinia, quis semper nunc scelerisque. Curabitur mattis purus neque. Morbi turpis lacus, posuere at ipsum nec, hendrerit fringilla dolor. Donec tristique velit magna. </p>

    
    <button class="button"><%= link_to "SIGN UP NOW", new_registration_path(resource_name) %></button>
  </div>
</div>

