# <h1>Model#videogame_install_notification</h1>

# <p>
#   <%= @greeting %>, find me in app/views/model_mailer/videogame_install_notification.html.erb
# </p>

welcome <%= @profile.email %>
Thanks for signing up