/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


 .signup {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    right:100px;
    top:150px;
 
  

        }
    .login {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      left:100px;
      top:150px;

      
    
      

           }

    .container {
      height: 100vh;
      width: 100vw;
      color: white;
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: url("/assets/wp4374286-bloodstained-ritual-of-the-night-wallpapers.jpg")
    }
        
        .container.profile   {
          height: 100vh;
          width: 100vw;
          color: white;
            display: flex;
            justify-content: center;
            align-content: center;
          ;

      }        

      .container.index   {
        height: 100vh;
        width: 100vw;
        color: white;
          display: flex;
          justify-content: center;
          align-content: center;
          background-image: url("/assets/wp4374286-bloodstained-ritual-of-the-night-wallpapers.jpg")
      

    }        
      
        .box {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .box div {
          width: 100px;
          height: 100px;
        }
              



    .containertwo {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-content: center;

      

        }
      
   .signupbutton {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
        }     
      

   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
      }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
      }
  
  tr:nth-child(even) {
    background-color: #dddddd;
      } 



  .signuplogin {
    display: flex;
    justify-content: flex-end;
    padding: 100px;
    margin: 20px;

      }

  .signupnow {
    display: flex;
    height: 50vh;
    width: 50vw;
    background-color: #4CAF50;

      }


  .signupnowbutton {
    display: flex;
  
   
      }
 
 
  .levelheading {
    display: flex;
    align-items: flex-start;
 
}


.index-navbar {
 
  display: flex;
  justify-content: flex-end;
  align-content: space-around;

  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;   
    text-align: center;
  }
  
  .box div {
    width: 300px;
    height: 300px;
  }
  

   .button {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2f9c95;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    color: grey;
    font-weight: 700;
    opacity: 0.7;
  }

  a {
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;
    color: black;
  }

  body {
    font-family: 'Raleway', sans-serif; 
    padding: 20px;
    margin: 0px;
    padding: 0px;

  }

  .style_image {
   height: 63%;
   width: 63%;  
  padding: 25px;
  margin: 0px 15px 15px 0px;
  float: center;
  }


  .style_image_index {
    height: 100px;
    width: 100px;
   }

  .background-image-index {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/the-outer-worlds-private-division-obsidian-entertainment.jpg");
   }


  .background-image-home { 
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-image: url("/assets/Code_vein.jpg");
  } 

  .field { 
  
    font-family: 'Raleway', sans-serif; 

  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
   
    }

    .home_text{
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 60px;
      background-color: grey;


    }

    .new_heading{
      
      color: white;
      font-size: 200%;
      width: 70%;
      


    }

    .error_explanation{
    color: red;

  }

    